.chart_line_average {
  position: relative;
  background: linear-gradient(to right, $color-red1 72%, $color-red2 72% 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;

  &_title {
    font-weight: 500;
    color: $color-white;
    opacity: 0.5;
    position: absolute;
    top: 29px;
    left: 34px;
    width: 147px;
  }
}
