.charts {
  display: flex;
  margin-top: 77px;

  &_content {
    margin-right: 31px;
    width: calc(100% - 289px);
  }

  .aside {
    width: 258px;
  }

  .charts-group {
    .chart-group-item {
      margin: 15px 0;
    }
  }

  @media all and (min-width: 1280px) {
    margin-bottom: 20px;
    .charts-group {
      display: flex;
      margin: 0 -15px;
      .chart-group-item {
        margin: 15px;
        width: calc(33.33% - 30px);
      }
    }
  }
}
.loading {
  color: $color-red1;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}
