body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;
  color: $color-grey2;
}

.container {
  padding: 0 40px;
  max-width: 1204px;
  margin: 0 auto;

  &-l {
    padding: 0 30px;
    max-width: 1500px;
  }

  &-main {
    margin-left: 117px;
    padding: 0 50px;
  }
}

a {
  color: $color-white;
  display: block;
  text-decoration: none;
}
