body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.2;
  color: $color-grey2;
}

.container {
  padding: 0 40px;
  max-width: 1204px;
  margin: 0 auto;
}

a {
  color: $color-white;
  display: block;
  text-decoration: none;
}
