// color
$color-red1: #ff0000;
$color-red2: #e60000;
$color-grey1: #9b9eac;
$color-grey2: #74798c;
$color-grey3: #fbfbfb;
$color-white: #ffffff;
$color-black1: #000000;
$color-black2: #020203;
$color-black3: #282d30;
$color-black4: #20253a;

// typo
$font-family: 'Roboto', sans-serif;
